.choose-doctor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 30px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-button {
  display: inline-block;
  padding: 20px 40px;
  margin: 10px;
  font-size: 20px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.doctor-button:hover {
  background-color: #0073e6;
}
